replicaCount: 1

image:
  repository: ""     # CI заполнит
  tag: ""            # CI заполнит
  pullPolicy: IfNotPresent

container:
  port: 9000

service:
  type: ClusterIP
  port: 9000

ingress:
  enabled: false
  className: nginx
  host: ""
  tls:
    enabled: false
    # clusterIssuer и secretName можно не указывать — есть дефолты
    # clusterIssuer: letsencrypt-prod
    # secretName: ""

envFrom:
  dotenv: ""                 # передаём через --set-file envFrom.dotenv=...
  configMapName: ""          # по умолчанию <release>-env
  secretName: ""             # по умолчанию <release>-secret
  stripPrefixes: true        # <-- если true: ENV__/SECRET__ срезаются; если false — ключи остаются как есть

resources: {}