image:
  repository: ""     # CI заполнит
  tag: ""            # CI заполнит
  pullPolicy: IfNotPresent

container:
  port: 9000

service:
  type: ClusterIP
  port: 9000

ingress:
  enabled: false
  className: nginx
  host: ""
  tls:
    enabled: false
    # clusterIssuer и secretName можно не указывать — есть дефолты
    # clusterIssuer: letsencrypt-prod
    # secretName: ""
    
resources: {}